<body>
    <nav>
        <a href="/medic-elite">Home</a>
        <a href="/medic-elite/history">Company History</a>
        <a href="/medic-elite/work">Past Work</a>
        <a href="/medic-elite/employees">Employees</a>
        <a href="/medic-elite/contact">Contact Us</a>
        <a href="/medic-elite/links">Links</a>
    </nav>

